extends base/_layout
block head
    title Vasil Iliukhin - Curriculum Vitae
block page

    section.about
        .container
            h2.about__title.title#about About
            p.about__text.
                I’m 39 years old. Married. I have two kids. Live in Bobruisk, Belarus.#[br]
                Start web-development in 2020. Web-developer with technical education.#[br]
                Stack: Pug, SCSS, JS, GSAP

    section.experience.block#experience
        .container
            h2.block__title.title Work Experience

            .block__item
                .block__left
                    p.block__subtitle LiveHTML
                    p.block__additional Oct 2022 - Present
                    p.block__additional Minsk, Belarus

                .block__right
                    p.block__name Web-developer
                    p.block__about Create different websites usage Pug, SCSS, JavaScript, GSAP.

            .block__item
                .block__left
                    p.block__subtitle CreativeSolutions
                    p.block__additional Dec 2021 - Oct 2022
                    p.block__additional Bobruisk, Belarus

                .block__right
                    p.block__name Web-developer
                    p.block__about Created websites of varying degrees of complexity. Stack: HTML, SCSS, JS.

            .block__item
                .block__left
                    p.block__subtitle Webfocus
                    p.block__additional Oct 2020 - Dec 2021
                    p.block__additional Bobruisk, Belarus

                .block__right
                    p.block__name Web-developer
                    p.block__about Create different sites (HTML/CSS/JS), add interactive elements, integrated the code to CMS Wordpress.

    section.skills.block#skills
        .container
            h2.block__title.title Skills & Tools

            .block__item
            .block__right
                p.block__name Technical Skills
                ul.block__list
                    li HTML5, Pug (Jade)
                    li CSS3, SCSS
                    li JavaScript
                    li GSAP
                    li BEM
                    li Wordpress

            .block__item
            .block__right
                p.block__name English Level
                ul.block__list
                    li B1 Low Intermediate

            .block__item
            .block__right
                p.block__name Tools
                ul.block__list
                    li VS Code
                    li GitHub
                    li Figma
                    li Adobe Photoshop
                    li Gulp

    section.education.block#education
        .container
            h2.block__title.title Education

            .block__item
                .block__left
                    p.block__subtitle RS School
                    p.block__additional March 2021 - Sept 2021
                .block__right
                    .block__name JavaScript / Frontend

            .block__item
                .block__left
                    p.block__subtitle BSUIR
                    p.block__additional 2004 - 2010
                .block__right
                    .block__name Technical Security

            .block__item
                .block__left
                    p.block__subtitle Bobruisk State Electrotechnical College
                    p.block__additional 2001 - 2002
                .block__right
                    .block__name Electrician

    section.works#examples
        .container
            h2.works__title.title Work Examples

            .works__slider.swiper

                .works__wrapper.swiper-wrapper

                    -
                        const worksExamples = [

                            {
                                imageUrl: "./images/bauarenda.jpg",
                                description: 'Development of an adaptive website for a company engaged in rental of construction equipment.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS', 'GSAP', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/bau-arenda//",
                                sourceLink: "https://github.com/irrbis38/bau-arenda"
                            },
                            {
                                imageUrl: "./images/investment.jpg",
                                description: 'Creating a website for an investment company.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/investment/",
                                sourceLink: "https://github.com/irrbis38/investment"
                            },
                            {
                                imageUrl: "./images/talent.jpg",
                                description: 'Website for recruiting company.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS', 'GSAP', 'jQuery'],
                                demoLink: "https://irrbis38.github.io/unity/",
                                sourceLink: "https://github.com/irrbis38/unity"
                            },
                            {
                                imageUrl: "./images/apostol.jpg",
                                description: 'Website for media awards.',
                                usedTechnologies: ['Pug', 'SCSS', 'JavaScript', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/apostol-done/",
                                sourceLink: "https://github.com/irrbis38/apostol-done"
                            },
                            {
                                imageUrl: "./images/Bella.jpg",
                                description: 'Studying project usage Greensock library.',
                                usedTechnologies: ['HTML', 'SCSS', 'JavaScript', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/GS-bella/",
                                sourceLink: "https://github.com/irrbis38/GS-bella"
                            },
                            {
                                imageUrl: "./images/ancros.jpg",
                                description: 'Test porject for Ancros company.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/ancros-test/",
                                sourceLink: "https://github.com/irrbis38/ancros-test"
                            },
                            {
                                imageUrl: "./images/buhtech.jpg",
                                description: 'Creating an adaptive website for an accounting company, integration on Wordpress.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/BuhTechnologies/",
                                sourceLink: "https://github.com/irrbis38/BuhTechnologies"
                            },
                            {
                                imageUrl: "./images/chysto.jpg",
                                description: 'Create cleaning company site, integration on CMS Wordpress.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'jQuery', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/https-chysto.by-/",
                                sourceLink: "https://github.com/irrbis38/https-chysto.by-"
                            },
                            {
                                imageUrl: "./images/lawtech.jpg",
                                description: 'Adaptive website makeup for a law firm, integration on Wordpress.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'jQuery', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/testWebFocus/",
                                sourceLink: "https://github.com/irrbis38/testWebFocus"
                            },
                        ];

                    each work in worksExamples
                        +works_item(work.imageUrl, work.description, work.usedTechnologies, work.demoLink, work.sourceLink)

                .works__nav
                    .works__dot
                    .works__dot
                    .works__dot

