extends base/_layout
block head
    title Василий Илюхин - Резюме
block page

    section.about
        .container
            h2.about__title.title#about Обо мне
            p.about__text.
                Мне 40 лет. Женат. Есть двое детей. Живу в Бобруйске, Беларусь.#[br]
                Коммерческий опыт работы: с октября 2020 года. Frontend-разработчик с техническим образованием.#[br]
                Основной стек (коммерческая разработка): Pug, SCSS, JS, GSAP.#[br]
                Не коммерческий стек (выполнял лишь обучающие и пет проекты): React, RTK, Module SCSS, Styled Components.


    section.experience.block#experience
        .container
            h2.block__title.title Опыт работы

            .block__item
                .block__left
                    p.block__subtitle PHPDev
                    p.block__additional Октябрь 2023 - по настоящее время
                    p.block__additional Минск, Беларусь

                .block__right
                    p.block__name Frontend-разработчик
                    p.block__about Создание различных веб-сайтов Pug, SCSS, JavaScript, GSAP. Поддержка старых проектов.

            .block__item
                .block__left
                    p.block__subtitle LiveHTML
                    p.block__additional Октябрь 2022 - Сентябрь 2023
                    p.block__additional Минск, Беларусь

                .block__right
                    p.block__name Frontend-разработчик
                    p.block__about Создание различных веб-сайтов Pug, SCSS, JavaScript, GSAP. Поддержка и редизайн старых проектов.

            .block__item
                .block__left
                    p.block__subtitle CreativeSolutions
                    p.block__additional Декабрь 2021 - Октябрь 2022
                    p.block__additional Минск, Беларусь

                .block__right
                    p.block__name Frontend-разработчик
                    p.block__about Создание сайтов различной степени сложости. Стек: HTML, SCSS, JS.

            .block__item
                .block__left
                    p.block__subtitle Webfocus
                    p.block__additional Октябрь 2020 - Декабрь 2021
                    p.block__additional Минск, Беларусь

                .block__right
                    p.block__name Frontend-разработчик
                    p.block__about Создание различных сайтов (HTML/CSS/JS), добавление интерактивных элементов, интеграция готовой вёрстки на CMS Wordpress.

    section.skills.block#skills
        .container
            h2.block__title.title Навыки и инструменты

            .block__item
            .block__right
                p.block__name Технические навыки
                ul.block__list
                    li HTML5, Pug (Jade)
                    li Nunjucks
                    li CSS3, SCSS
                    li JavaScript
                    li GSAP
                    li BEM
                    li React

            .block__item
            .block__right
                p.block__name Уровень английского
                ul.block__list
                    li B1 (промежуточный)

            .block__item
            .block__right
                p.block__name Инструменты
                ul.block__list
                    li VS Code
                    li GitHub
                    li Figma
                    li Adobe Photoshop
                    li Gulp
                    li Webpack
                    li Vite

    section.education.block#education
        .container
            h2.block__title.title Образование

            .block__item
                .block__left
                    p.block__subtitle RS School
                    p.block__additional Март 2021 - Сентябрь 2021
                .block__right
                    .block__name JavaScript / Frontend

            .block__item
                .block__left
                    p.block__subtitle БГУИР
                    p.block__additional 2004 - 2010
                .block__right
                    .block__name Техническое обеспечение безопасности

            .block__item
                .block__left
                    p.block__subtitle Бобруйское государственное училище им. А.И.Черныша
                    p.block__additional 2001 - 2002
                .block__right
                    .block__name Электромонтёр

    section.works#examples
        .container
            h2.works__title.title Примеры работ ( Основной / Коммерческий стек) 

            .works__slider.swiper

                .works__wrapper.swiper-wrapper

                    -
                        const worksExamples = [

                            {
                                imageUrl: "./images/kuban_bread.jpg",
                                description: 'Разработка адаптивного сайта для компании, производящей вкусные и полезные хлебцы.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS'],
                                demoLink: "https://irrbis38.github.io/kuban_bread/done/index.html",
                                sourceLink: "https://github.com/irrbis38/kuban_bread"
                            },
                            {
                                imageUrl: "./images/rrbeauty.jpg",
                                description: 'Разработка адаптивного сайта для компании, продающей тату акссесуары.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/rrbeauty/",
                                sourceLink: "https://github.com/irrbis38/rrbeauty"
                            },
                            {
                                imageUrl: "./images/bauarenda.jpg",
                                description: 'Разработка адаптивного сайта для компании, занимающейся предоставлением строительной техники в аренду.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS', 'GSAP', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/bau-arenda/",
                                sourceLink: "https://github.com/irrbis38/bau-arenda"
                            },
                            {
                                imageUrl: "./images/investment.jpg",
                                description: 'Разработка адаптивного сайта для инвестиционной компании.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/investment/",
                                sourceLink: "https://github.com/irrbis38/investment"
                            },
                            {
                                imageUrl: "./images/talent.jpg",
                                description: 'Редизайн сайта для рекрутинговой компании.',
                                usedTechnologies: ['Pug', 'SCSS', 'JS', 'GSAP', 'jQuery'],
                                demoLink: "https://irrbis38.github.io/unity/",
                                sourceLink: "https://github.com/irrbis38/unity"
                            },
                            {
                                imageUrl: "./images/apostol.jpg",
                                description: 'Сайт медиа-премии.',
                                usedTechnologies: ['Pug', 'SCSS', 'JavaScript', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/apostol-done/",
                                sourceLink: "https://github.com/irrbis38/apostol-done"
                            },
                            {
                                imageUrl: "./images/Bella.jpg",
                                description: 'Обучающий проект по изучение библиотеки GreenSock.',
                                usedTechnologies: ['HTML', 'SCSS', 'JavaScript', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/GS-bella/",
                                sourceLink: "https://github.com/irrbis38/GS-bella"
                            },
                            {
                                imageUrl: "./images/ancros.jpg",
                                description: 'Тестовый проект для компании Анкрос.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'GSAP'],
                                demoLink: "https://irrbis38.github.io/ancros-test/",
                                sourceLink: "https://github.com/irrbis38/ancros-test"
                            },
                            {
                                imageUrl: "./images/buhtech.jpg",
                                description: 'Разработка адаптивного сайта для бухгалтерской компании, интеграция на CMS Wordpress.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/BuhTechnologies/",
                                sourceLink: "https://github.com/irrbis38/BuhTechnologies"
                            },
                            {
                                imageUrl: "./images/chysto.jpg",
                                description: 'Разработка адаптивного сайта для клининговой компании, интеграция на CMS Wordpress.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'jQuery', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/https-chysto.by-/",
                                sourceLink: "https://github.com/irrbis38/https-chysto.by-"
                            },
                            {
                                imageUrl: "./images/lawtech.jpg",
                                description: 'Разработка адаптивного сайта для юридической компании, интеграция на CMS Wordpress.',
                                usedTechnologies: ['HTML', 'CSS', 'JavaScript', 'jQuery', 'Wordpress'],
                                demoLink: "https://irrbis38.github.io/testWebFocus/",
                                sourceLink: "https://github.com/irrbis38/testWebFocus"
                            },
                        ];

                    each work in worksExamples
                        +works_item(work.imageUrl, work.description, work.usedTechnologies, work.demoLink, work.sourceLink)

                .works__nav
                    .works__dot
                    .works__dot
                    .works__dot

                    -
                        const reactWorksExamples = [

                            {
                                imageUrl: "./images/crwn-store-v2.jpg",
                                description: 'Онлайн магазин',
                                usedTechnologies: ['React', 'React-router-DOM v.6', 'Styled-components', 'Firebase'],
                                demoLink: "https://irrbis38.github.io/crwn-store-v2/",
                                sourceLink: "https://github.com/irrbis38/crwn-store-v2"
                            },
                            {
                                imageUrl: "./images/pizza.jpg",
                                description: 'Онлайн магазин пиццы',
                                usedTechnologies: ['React', 'Redux Toolkit', 'Module SCSS'],
                                demoLink: "https://irrbis38.github.io/pizza/",
                                sourceLink: "https://github.com/irrbis38/pizza"
                            },
                            {
                                imageUrl: "./images/lit-todolist.jpg",
                                description: 'Список задач',
                                usedTechnologies: ['React', 'Module SCSS', 'Zustand'],
                                demoLink: "https://irrbis38.github.io/lit-todolist/",
                                sourceLink: "https://github.com/irrbis38/lit-todolist"
                            },
                            {
                                imageUrl: "./images/r-music-player.jpg",
                                description: 'Музыкальный плейер',
                                usedTechnologies: ['React'],
                                demoLink: "https://irrbis38.github.io/r-music-player/",
                                sourceLink: "https://github.com/irrbis38/r-music-player"
                            },
                            {
                                imageUrl: "./images/react-online-store.jpg",
                                description: 'Простой онлайн магазин',
                                usedTechnologies: ['React'],
                                demoLink: "https://irrbis38.github.io/react-online-store",
                                sourceLink: "https://github.com/irrbis38/react-online-store"
                            },
                            {
                                imageUrl: "./images/countries.jpg",
                                description: 'Приложение - Флаги стран мира',
                                usedTechnologies: ['React', 'Redux ToolKit', 'Styled-components'],
                                demoLink: "https://irrbis38.github.io/countries/",
                                sourceLink: "https://github.com/irrbis38/countries"
                            },
                            {
                                imageUrl: "./images/react-movies.jpg",
                                description: 'Приложение по поиску фильмов.',
                                usedTechnologies: ['React'],
                                demoLink: "https://irrbis38.github.io/react-movies/",
                                sourceLink: "https://github.com/irrbis38/react-movies"
                            }
                        ]



    section.works
        .container
            h2.works__title.title Примеры работ (React) 

            .works__slider.swiper

                .works__wrapper.swiper-wrapper


                    each work in reactWorksExamples
                        +works_item(work.imageUrl, work.description, work.usedTechnologies, work.demoLink, work.sourceLink)

                .works__nav
                    .works__dot
                    .works__dot
                    .works__dot



