footer.footer
    .container
        a.footer__link(href="https://github.com/irrbis38" target="_blank") My GitHub&nbsp;#[img.external__link(src="./images/link.svg" alt="")]
        p.footer__year 2023
